h1 {
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.first {
    text-align: left;
    font-size: 12px;   
}

.info {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.keysymbol {
    float:left;
    padding: 10px;
}

.sumContainer {
    width:49%;
    float: left;
}
.sum {
    border-radius: 8px;
    background: darkmagenta;
    padding: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;

}
.averageContainer {
    width: 49%;
    text-align: right;
    float: right;
}
.average {
    border-radius: 8px;
    background: darkgreen;
    padding: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;

}
.passwordContainer {
    text-align: center;
    background-color: beige;
    border-radius: 12px;
    height: 82px;
}
.password {
    margin-top: 20px;
}